CompileFlags:
  CompilationDatabase: build-ci-test

  Remove:
    - -forward-unknown-to-host-compiler
    - --options-file
    - --generate-code=*

---
If:
  PathMatch: '.*\.(cu|cuh)$'

CompileFlags:
  Add:
    - -I/home/azz/git/finitefield/include
    - -I/home/azz/git/finitefield/src
    - -I/home/azz/git/finitefield/cuda
    - -I/usr/include/cccl
    - -xcuda
    - --cuda-path=/opt/cuda
    - --cuda-gpu-arch=sm_75
    - -std=c++20